body{
    
    background-image: linear-gradient(#c0dfb3,#8bd9e7); 
    display: flex; 
    gap: 20px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo{
    border-radius: 50%;
}